html, body{
	height: 100%;
	width: 100%;	
	font-family: 'Poppins', sans-serif;
	color: black;
}

.navbar{
	padding: .2rem;
}

.navbar-nav li {
	padding: 20px;

}

.nav-link {
	font-size: 1.1rem !important; 
}

.carousel-inner img {
	align-items: center;
	width: 100%;
}

.carousel-caption {
	position: absolute;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 350%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption p {
	top: 50%;
	font-size: 150%;
	font-weight: 500%;
	text-shadow: 1px 1px 10px #000;
}

/*start aboutus section*/
#about{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}
#about h3{
	font-size: 200%;
	font-weight: bold;
	color: green;
} 
#about p{
font-size: 100%;
font-weight: lighter;
}

#about hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.fa-chess{
	color: #e54d26;
}
.fa-user-friends{
	color: #563d7c;
}

.fa-seedling{
	color: green;
}

.fa-chess, .fa-user-friends, .fa-seedling {
	font-size: 64px;
	margin: 1rem;

}

/*end aboutus section*/
/*start our work section*/
.work-box{
	padding: 15px;
	
	margin-bottom: 30px;
	position: relative;
}

.work-box h2 h3{
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: black;
	mix-blend-mode: difference;
}
.work-icon p{
	font-size: 20px;
	font-family: sans-serif;
	font-weight: lighter; 
	color: white;
	mix-blend-mode: difference;
}
.fa-tree{
	color: green;
}

.fa-briefcase{
	color: brown;
}

.fa-anchor{
	color: blue;
}

.fa-tree, .fa-briefcase, .fa-anchor{
	font-size: 64px;
	margin: 1rem;

}

.overlay{
	margin:20px auto;
	border: none;
	padding: 10px 44px;
	font-size: 20px;
	position: relative;
	display: inline-block;
}
.overlay:before{
	transition: all 0.85s cubic-bezier(0.68,-.55,0.265,1.55);
	content: '';
	width: 50%;
	height: 100%;
	background: rgba(20,54,1,0.6);
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px 0px 10px;
}
.overlay:hover:before{
	background: #053001;
	width: 100%;
	border-radius: 10px;
}
/*end our work*/
/*start gallery*/
/*end gallery*/
/* start social media*/
.social a{
	font-size: 4.5rem;
	padding: 3rem;
}
.fa-facebook-f{
	color: #3b5998;
}
.fa-twitter{
	color: #00aced;
}
.fa-facebook-f:hover,
.fa-linkedin-in:hover,
.fa-twitter:hover {
	color: #d5d5d5;
}


/*end social media*/
/*start footer*/
footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}
hr.light{
	border-radius: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}
footer a{
	color: #d5d5d5;
}
hr.light-100{
	border-radius: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}
















/*@media (max-width: 768px){

	html{
		font-size: 55%;
	}

	header. fa-bars{
	display: block;
	}

	.navigation{
		position: fixed;
		top: -100rem; left: 0;
		opacity: 0;
		width: 100%;
		border-top: 1rem solid #ccc;
	}

	.navigation ul{
		flex-flow: column;
		padding: 2rem 0;
		background-color: #fff;
	}

	.navigation ul li{
		width: 100%;
		text-align: center;
		margin: 1rem 0;
	}

	.navigation ul li a{
		font-size: 3rem;
		display: block;
	}

	.fa-times{
		transition: rotate(180deg);
	}

	.nav-toggle{
		top: 6rem;
		opacity: 1;
	}
}*/