@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,900&display=swap');

:root{
	--green:#0d9979;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif; 
	text-transform: capitalize;
	text-decoration: none;
	transition: all .5s cubic-beizer(.37,1.14,.26,1.24);
}

*::selection{
	background: var(--green);
	color: #fff;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
}

.media-icons{
	font-size: 5rem;
}

.heading{
	text-align: center;
	font-size: 4rem;
	color: #555;
	padding: 1rem;
	padding-top: 7rem;
}

.heading i{
	 color: var(--green);
	 font-size: 2rem;
}

header{
	width: 100%;
	padding: 1rem 5rem;
	display: flex;
	justify-content: space-between;
	background: #fff;
	align-items: center;
	box-shadow: 0.1rem .3rem rgba(0,0,0,.3);
	position: fixed;
	top: 0; left: 0;
	z-index: 1000;

}

.logo{
	color: var(--green);
	font-size: 3rem;
	text-transform: uppercase;
}

.navigation ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.navigation ul li{
	margin: 0 1rem;
}


.navigation ul li a{
	font-size: 2rem;
	color: #666;
}
.navigation a:not(:last-child){
	margin-right: 30px;
}

.navigation a:hover{
	background: var(--green);

}

.header .fa-bars{
	font-size: 3rem;
	color: #666;
	cursor: pointer;
	display: none;
}

.home{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center; 
	background-image: url(home.jpg);
	background-size: cover;
	background-position: center;

}

.content{
	text-align: center;
	padding: 1rem;
	margin-top: 5rem;
	margin-bottom: 20rem;
	color:#000 ;
	background: #fff;
	max-height: 20rem;
}

.content .info h2{
	color: var(--green);
	font-size: 4rem;
	font-family: sans-serif;	
} 

.content .info p{
	font-size: 2rem;
	color: #333;
	padding: 1rem 0;
	width: 100rem;
	text-align: left;

}

.about .row{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.about .row .image{
	flex: 1 1 40rem;
	padding: 2rem;
}

.about .row .image img{
	width: 100%;

}

.about .row .content{
	flex: 1 1 40rem;
	padding: 2rem;
}

.about .row .content h3{
	font-size: 3rem;
	color: var(--green);	
}

.about .row .content p{
	font-size: 1.5rem;
	color: #666;
	padding: 1rem 0;
}

.about .box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.about .box-container .box{
	padding: 3rem 10rem;
	text-align: center;
	border: .5rem solid var(--green);
	margin: 2rem;
}

.about .box-container .box i{
	color: var(--green);
	font-size: 4rem;
}

.about .box-container .box h3{
	color: #333;
	font-size: 2.5rem;
	padding: 1rem 0;
}

.about .box-container .box p{
	color: #333;
	font-size: 1.7rem;
}

.our-work{
	background: #f0f0f0;
	min-height: 100vh;
}

.our-work .box-container2{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 5 auto;
}

.our-work .box-container2 .box{
	flex:1 1 25rem;
	padding: 2rem 1rem;
	text-align: center;
	background: #fff;
	border: 0.5rem solid var(--green);
	margin: 2rem;
	cursor: pointer;
}

.our-work .box-container2 .box i{
	color: var(--green);
	font-size:  4rem;
	padding: 1rem 0;
}

.our-work .box-container2 .box h3{
	color: #333;
	font-size: 1.5rem;
}

.our-work .box-container2 .box p{
	color: #666;
	font-size: 1.5rem;
	padding: 1rem 0;
}

.our-work .box-container2 .box ul li{
	color: #333
	font-size :1rem;
}














@media (max-width: 768px){

	html{
		font-size: 55%;
	}

	header. fa-bars{
	display: block;
	}

	.navigation{
		position: fixed;
		top: -100rem; left: 0;
		opacity: 0;
		width: 100%;
		border-top: 1rem solid #ccc;
	}

	.navigation ul{
		flex-flow: column;
		padding: 2rem 0;
		background-color: #fff;
	}

	.navigation ul li{
		width: 100%;
		text-align: center;
		margin: 1rem 0;
	}

	.navigation ul li a{
		font-size: 3rem;
		display: block;
	}

	.fa-times{
		transition: rotate(180deg);
	}

	.nav-toggle{
		top: 6rem;
		opacity: 1;
	}
}

